@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');

.settings {
    width: 1000px;
    padding-left: 225px;
    position: absolute;

    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    color: var(--light-gray);

    &__inputs {
        display: flex;
    }

    &__input {
        width: 180px;
        height: 40px;
        outline: none;
        border: 1px solid var(--light-gray);
        padding-left: 10px;
        margin-top: 5px;
        background-color: transparent;

        font-family: 'Titillium Web', sans-serif;
        font-size: 18px;
        color: var(--light-gray);
    }

    &__button {
        width: 180px;
        height: 45px;
        border: 1px solid var(--light-gray);
        margin-top: 5px;
        background-color: transparent;
    
        font-size: 18px;
        color: var(--light-gray);
        text-align: center;
        text-decoration: none;
    }
    
    &__button:hover {
        color: var(--dark-gray);
        background-color: var(--light-gray);
        cursor: pointer;
    }
}

span {
    display: inline-block;
    font-size: 18px;
    text-decoration: underline;
    margin: 0 0 15px;
}
