<div class="settings">
    <span>Setting a request</span><br>
    <form (submit)="onSetFieldOffice(form)" #form="ngForm">
        <input class="settings__input" placeholder="Input field office name" name="inputName" ngModel/><br>
        <select [(ngModel)]="selectedOption" class="settings__input" name="selectName" ngModel>
            <option [value]=""></option>
            <option *ngFor="let fieldOffice of this.fbiWantedService.personsFieldOffices" [value]="fieldOffice">{{ fieldOffice }}</option>
        </select><br>
        <button type="submit" class="settings__button">Set field office</button>
    </form>

    <fw-settings-table-columns-picker></fw-settings-table-columns-picker>
</div>
