@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');

.authorization {
    position: relative;
    width: 100%;
    padding: 70px 0 90px;
    border: 1px solid var(--dark-gray);
    background-color: var(--light-gray);

    font-family: 'Titillium Web', sans-serif;
    font-size: 25px;
    color: var(--dark-gray);

    &__form {
        width: 400px;
        margin: 0 auto;
    }

    &__form-input {
        width: 385px;
        height: 30px;
        padding-left: 10px;
        outline: none;
        border: 1px solid var(--dark-gray);
    
        font-family: 'Titillium Web', sans-serif;
        font-size: 20px;
    }

    &__form-button {
        width: 399px;
        height: 35px;
        border: 1px solid var(--dark-gray);
        background-color: var(--dark-gray);
        
        margin-top: 10px;
    
        font-size: 20px;
        color: var(--light-gray);
        text-align: center;
    }
    
    &__form-button:hover {
        cursor: pointer;
    }
}
