<mat-dialog-content class="authorization">
  <div class="authorization__form">
    <form class="authorization__form" (submit)="onSignIn(form)" #form="ngForm">
      <div>
        <label for="login">Login</label>
        <input class="authorization__form-input" type="login" id="login" name="login" ngModel>
      </div>
      <div>
        <label for="password">Password</label>
        <input class="authorization__form-input" type="password" id="password" name="password" ngModel>
      </div>
      <button mat-button class="authorization__form-button" type="submit">Sign in</button>
    </form>
  </div>
</mat-dialog-content>
  