.fbi-wanted__edit-form-sex {
    width: 200px;
    margin-top: 19px;
    margin-left: 19px;
    align-items: center;
}

.fbi-wanted__edit-form-sex-item {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    border-radius: 4px;
    outline-offset: 3px;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.fbi-wanted__edit-form-sex-item.selected {
    outline: 4px double var(--dark-gray);
}
  