<div class="fbi-wanted__edit-form-sex">
    <span>Sex:</span>
    <div class="fbi-wanted__edit-form-sex-item" [style.backgroundImage]="'url(' + sex.src + ')'" [ngClass]="{selected: selectedPersonSex === sex.value}" 
    (click)="sexClicked(sex.value)" *ngFor="let sex of personSex"></div>
</div>
