@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');

.home {
    width: 1000px;
    margin: 0 auto;
    padding-left: 35px;
    position: absolute;

    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
    color: var(--light-gray);

    &__tree-item {
        width: 150px;
        outline: none;
        border: 0;
        padding-left: 20px;
        background-color: var(--dark-gray);

        font-family: 'Titillium Web', sans-serif;
        font-size: 15px;
        color: var(--light-gray);
    }
}

