<div class="home">
  <ng-template #tree let-nodes>
    <div *ngFor="let node of nodes">
      {{ node.id }}
      <div class="home__tree-item" *ngIf="node.children.length > 0">
        <ng-container *ngTemplateOutlet="tree; context: {$implicit: node.children}"></ng-container>
      </div>
     </div>
   </ng-template>
   <ng-container *ngTemplateOutlet="tree; context: {$implicit: treeNodes}"></ng-container>
</div>
