@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');

.sidebar {
    position: absolute;
    z-index: 5;
    padding: 0px;
}

.sidebar-item {
    font-family: 'Titillium Web', sans-serif;
    font-size: 25px;

    width: 150px;
    padding: 5px;
    margin-top: 10px;
    background-color: var(--light-gray);
}