<mat-nav-list class="sidebar">
    <ng-template [ngIf]="currentUser.login">
        <a mat-list-item routerLink="/home">
            <span class="sidebar-item">Home</span>
        </a>
        <a mat-list-item routerLink="/fbi-wanted">
            <span class="sidebar-item">FBI wanted</span>   
        </a>
        <a mat-list-item routerLink="settings">
            <span class="sidebar-item">Settings</span>
        </a>
    </ng-template>
</mat-nav-list>