<span>Setting the number and order of table columns</span>
<form [formGroup]="tableColumnPickerForm">
  <button class="settings__button" (click)="addSelect()">Add table column</button>
  <div class="settings__inputs" formArrayName="tableColumnPickers">
    <div *ngFor="let control of tableColumnPickers.controls; let controlIndex=index" [formGroupName]="controlIndex">
      <select class="settings__input" formControlName="{{ controlIndex + 1 }}">
        <option [value]="tableColumnName" *ngFor="let tableColumnName of getTableColumnNames()">{{ tableColumnName }}</option>
      </select>
      <ng-template [ngIf]="controlIndex">
        <fa-icon [icon]="deleteIcon" class="settings__icon" (click)="deleteSelect(controlIndex)"></fa-icon>
      </ng-template>
    </div>
  </div>
  <button class="settings__button" (click)="onEditTable()">Edit table</button>
</form>
  