.fbi-wanted {
    width: 600px;
    margin-top: 6px;
    padding-bottom: 40px;

    &__pagination {
        display: flex;
        flex-direction: row;

        p {
            width: 10px;
            margin: 3px 20px 0;
        }
    }

    &__pagination-button {
        width: 264px;
        height: 28px;
        border: 0;
        outline: none;
        background-color: var(--light-gray);
    
        font-family: 'Titillium Web', sans-serif;
        font-size: 15px;
        color: var(--dark-gray);
    }

    &__pagination-button:hover {
        cursor: pointer;
    }

    &__filters {
        margin-top: 12px;
    }

    &__filters-input {
        width: 564px;
        height: 30px;
        outline: none;
        border: 1px solid var(--light-gray);
        padding-left: 10px;
        margin-top: 10px;
        background-color: transparent;

        font-family: 'Titillium Web', sans-serif;
        font-size: 15px;
        color: var(--light-gray);
    }

    &__filters-button {
        width: 578px;
        height: 30px;
        border: 1px solid var(--light-gray);
        padding-left: 10px;
        margin-top: 10px;
        background-color: var(--light-gray);

        font-family: 'Titillium Web', sans-serif;
        font-size: 15px;
        color: var(--dark-gray);
    }

    &__filters-button:hover {
        cursor: pointer;
    }

    &__card {
        width: 578px;
    }

    &__card:hover {
        cursor: pointer;
    }

    &__card-clicked {
        font-weight: bold;
        color: var(--dark-gray);
        background-color: var(--light-gray);
    }

    &__card-buttons {
        width: 100px;
    }

    &__card-button {
        height: 30px;
        border: 0;
        outline: none;
        background-color: var(--light-gray);
        margin-right: 5px;
    
        font-family: 'Titillium Web', sans-serif;
        font-size: 15px;
        color: var(--dark-gray);
    }

    &__card-button:hover {
        cursor: pointer;
    }

    &__card-info {
        padding-right: 10px;
    }
}
