<div class="fbi-wanted">
    <div class="fbi-wanted__pagination">
        <button class="fbi-wanted__pagination-button" (click)="onPreviousPage()">Previous page</button>
        <p class="fbi-wanted__pagination-info">{{ currentPage }}</p>
        <button class="fbi-wanted__pagination-button" (click)="onNextPage()">Next page</button>
    </div>
    <form class="fbi-wanted__filters" #form="ngForm" (submit)="onSearchWithFilters(true, form)">
        <input class="fbi-wanted__filters-input" name="hairColor" placeholder="Input hair color" ngModel>
        <input class="fbi-wanted__filters-input" name="eyesColor" placeholder="Input eyes color" ngModel>
        <input class="fbi-wanted__filters-input" name="weight" placeholder="Input weight" ngModel>
        <input class="fbi-wanted__filters-input" name="height" placeholder="Input height" ngModel>
        <button type="submit" class="fbi-wanted__filters-button">Search with filters</button>
        <button (click)="onSearchWithFilters(false, form)" class="fbi-wanted__filters-button">Reset filters</button>
    </form>
    <table class="fbi-wanted__card" mat-table [dataSource]="persons">
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="fbi-wanted__card-info"></th>
            <td mat-cell *matCellDef="let person" class="fbi-wanted__card-info">  
                <div class="fbi-wanted__card-buttons">
                    <button class="fbi-wanted__card-button" (click)="onEditCard(person)">Edit</button>   
                    <button *ngIf = "person.edited" class="fbi-wanted__card-button" (click)="onEditedCard()">Edited</button>    
                </div>        
            </td>
        </ng-container>

        <ng-container matColumnDef="fieldOffices">
            <th mat-header-cell *matHeaderCellDef class="fbi-wanted__card-info"> Field offices </th>
			<td mat-cell *matCellDef="let person" class="fbi-wanted__card-info"> {{ person?.field_offices | format }} </td>
        </ng-container>

        <ng-container matColumnDef="race">
            <th mat-header-cell *matHeaderCellDef class="fbi-wanted__card-info"> Race </th>
			<td mat-cell *matCellDef="let person" class="fbi-wanted__card-info"> {{ person?.race_raw | format }} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="fbi-wanted__card-info"> Name </th>
		  <td mat-cell *matCellDef="let person" class="fbi-wanted__card-info"> {{ person?.title | format }} </td>
        </ng-container>

        <ng-container matColumnDef="sex">
            <th mat-header-cell *matHeaderCellDef class="fbi-wanted__card-info"> Sex </th>
			<td mat-cell *matCellDef="let person" class="fbi-wanted__card-info"> {{ person?.sex | format }} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="this.fbiWantedService.getTableColumnNames()"></tr>
        <tr (click)="onSelectedCard(row)" [ngClass]="{ 'fbi-wanted__card-clicked': row == persons[0] }" [class.fbi-wanted__card-clicked]="personClicked == row" mat-row *matRowDef="let row; columns: this.fbiWantedService.getTableColumnNames();"></tr>
    </table>
</div>
