@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');

.fbi-wanted {
    display: flex;
    flex-direction: row;

    width: 1000px;
    margin: 0 auto;
    padding-left: 225px;
    position: absolute;

    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
    color: var(--light-gray);
}

::ng-deep .mat-tab-list {
    max-width: 320px;
    margin-left: 134px;
}

::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
    font-weight: bold;
}
    
::ng-deep .mat-ink-bar {
    margin-bottom: 10px;
}