<div class="fbi-wanted">
    <mat-tab-group [selectedIndex]="selectedTabIndex"  (selectedTabChange)="onTable($event)">
        <mat-tab class="fbi-wanted__tab" label="all people">
            <fw-fbi-wanted-card-list></fw-fbi-wanted-card-list>
        </mat-tab>
        <mat-tab class="fbi-wanted__tab" label="edited people">
            <fw-fbi-wanted-card-list-edit></fw-fbi-wanted-card-list-edit>
        </mat-tab>
      </mat-tab-group>
      <fw-fbi-wanted-card-details></fw-fbi-wanted-card-details>
</div>