.fbi-wanted {
    width: 600px;
    margin-top: 6px;
    padding-bottom: 40px;

    &__card {
        width: 578px;
    }

    &__card:hover {
        cursor: pointer;
    }

    &__card-clicked {
        font-weight: bold;
        color: var(--dark-gray);
        background-color: var(--light-gray);
    }

    &__card-button {
        height: 30px;
        border: 0;
        outline: none;
        background-color: var(--light-gray);
        margin-right: 5px;
    
        font-family: 'Titillium Web', sans-serif;
        font-size: 15px;
        color: var(--dark-gray);
    }

    &__card-button:hover {
        cursor: pointer;
    }

    &__card-info {
        padding-right: 10px;
    }
}
