<div class="fbi-wanted">
    <table class="fbi-wanted__card" mat-table [dataSource]="persons">
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="fbi-wanted__card-info"></th>
            <td mat-cell *matCellDef="let person" class="fbi-wanted__card-info">  
                <button class="fbi-wanted__card-button" (click)="onEditCard(person)">Edit</button>       
            </td>
        </ng-container>

        <ng-container matColumnDef="fieldOffices">
            <th mat-header-cell *matHeaderCellDef class="fbi-wanted__card-info"> Field offices </th>
			<td mat-cell *matCellDef="let person" class="fbi-wanted__card-info"> {{ person?.field_offices | format }} </td>
        </ng-container>

        <ng-container matColumnDef="race">
            <th mat-header-cell *matHeaderCellDef class="fbi-wanted__card-info"> Race </th>
			<td mat-cell *matCellDef="let person" class="fbi-wanted__card-info"> {{ person?.race_raw | format }} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="fbi-wanted__card-info"> Name </th>
          <td mat-cell *matCellDef="let person" class="fbi-wanted__card-info"> {{ person?.title | format }} </td>
        </ng-container>

        <ng-container matColumnDef="sex">
            <th mat-header-cell *matHeaderCellDef class="fbi-wanted__card-info"> Sex </th>
            <td mat-cell *matCellDef="let person" class="fbi-wanted__card-info"> {{ person?.sex | format }} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="this.fbiWantedService.getTableColumnNames()"></tr>
        <tr (click)="onSelectedCard(row)" [class.fbi-wanted__card-clicked]="personClicked == row" mat-row *matRowDef="let row; columns: this.fbiWantedService.getTableColumnNames();"></tr>
    </table>
</div>
