@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');

.header {
    width: 1200px;
    padding-top: 30px;
    margin: 0 auto;

    font-family: 'Titillium Web', sans-serif;
    font-size: 30px;
    color: var(--light-gray);

    display: flex;
    justify-content: space-between;

    &__info {
        display: flex;
        flex-direction: row;
        align-items: center;
    
        font-family: 'Titillium Web', sans-serif;
        font-size: 25px;

        p {
            margin: 0;
            padding-right: 20px;
        }
    }

    &__button {
        width: 100px;
        height: 40px;
        border: 1px solid var(--light-gray);
        background-color: transparent;
    
        font-size: 24px;
        color: var(--light-gray);
        text-align: center;
        text-decoration: none;
    }
    
    &__button:hover {
        color: var(--dark-gray);
        background-color: var(--light-gray);
        cursor: pointer;
    }
}
