<nav class="header">
    <a>FBI wanted</a>
    <ng-template [ngIf]="!currentUser.login">
        <a mat-raised-button class="header__button" (click)="onLogin()">Login</a>
    </ng-template>
    <ng-template [ngIf]="currentUser.login">
        <div class="header__info">
            <p>{{ currentUser.login }}</p>
            <a class="header__button" routerLink="/home" (click)="onLogout()">Logout</a>
        </div>
    </ng-template>
</nav>