<form [formGroup]="editForm">
  <input class="fbi-wanted__edit-form-input" placeholder="Input field name" #inputName/><br>
  <select class="fbi-wanted__edit-form-input" #inputDataType>
    <option [value]="dataType" *ngFor="let dataType of getInputDataTypes()">{{ dataType }}</option>
  </select>
  <fa-icon [icon]="plusIcon" class="fbi-wanted__edit-form-icon" (click)="addInput(inputName.value, inputDataType.value)"></fa-icon>
  <div *ngIf="newData">
    <div class="fbi-wanted__edit-form-error" *ngIf="this.newData.hasError('duplicate')">
      Warning! Not all fields have unique names!
    </div>
  
    <div formArrayName="newData">
      <div *ngFor="let control of newData.controls; let controlIndex=index" [formGroupName]="controlIndex">
        <input class="fbi-wanted__edit-form-input" formControlName="{{ inputName.value }}"/>
        <fa-icon [icon]="deleteIcon" class="fbi-wanted__edit-form-icon" (click)="deleteInput(controlIndex)"></fa-icon>
      </div>
    </div>
  </div>
</form>
