<div class="fbi-wanted__card-details">
  <ng-template [ngIf]="personSelected">
    <img class="fbi-wanted__card-details-image" src="{{ this.personSelected.images[0]?.large }}" alt="image">
    
    <div class="fbi-wanted__card-details-info">
      <div class="fbi-wanted__card-details-title"><span>{{ personSelected?.title | format }}</span></div>
      <div><span>Weight:</span> {{ personSelected?.weight_max | format }}</div>
      <div><span>Height:</span> {{ personSelected?.height_max | format }}</div>
      <div><span>Hair:</span> {{ personSelected?.hair | format }}</div>
      <div><span>Eyes:</span> {{ personSelected?.eyes | format }}</div>
      <div><span>Date of birth:</span> {{ personSelected?.dates_of_birth_used | format }}</div>
      <div><span>Nationality:</span> {{ personSelected?.nationality | format }}</div>  
      <div><span>Place of birth:</span> {{ personSelected?.place_of_birth | format }}</div> 
    </div>
  </ng-template>
</div>