.fbi-wanted__card-details {
    margin-top: 5px;
    margin-left: 30px;
}

.fbi-wanted__card-details-image {
    width: 327px;
    height: 370px;
}

.fbi-wanted__card-details-image:after {  
    content: "*** Broken image ***";
    display: block;
    position: absolute;
    width: 327px;
    text-align: center;
    margin-top: -25px;

    font-family: 'Titillium Web', sans-serif;
    font-size: 17px;
    color: var(--light-gray);
    background-color: var(--dark-gray);
}

.fbi-wanted__card-details-info {
    max-width: 327px;
}

.fbi-wanted__card-details-title {
    font-size: 30px;
}

.fbi-wanted__card-details span {
    font-weight: bold;
}