@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');

.fbi-wanted {
    display: flex;
    align-items: flex-start;
    position: relative;
    width: 100%;
    z-index: 10;
    padding: 50px 80px 60px;
    box-sizing: border-box;
    border: 15px solid var(--dark-gray);
    background-color: var(--light-gray);

    font-family: 'Titillium Web', sans-serif;
    font-size: 25px;
    color: var(--dark-gray);

    &__edit-form-close-button {
        border: 0;
        outline: none;
        background-color: transparent;
        margin-top: -10px;
    
        font-family: 'Titillium Web', sans-serif;
        font-size: 25px;
        color: var(--dark-gray);
        text-align: center;
    }
    
    &__edit-form-close-button:hover {
        cursor: pointer;
    }

    &__edit-form {
        form {
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__edit-form-input {
        height: 40px;
        margin: 0;
        padding-left: 10px;
        outline: none;
        border: 1px solid var(--dark-gray);
    
        font-family: 'Titillium Web', sans-serif;
        font-size: 20px;
        color: var(--dark-gray);
    }

    &__edit-form-error {
        font-family: 'Titillium Web', sans-serif;
        font-size: 15px;
        text-align: center;
    }

    &__edit-form-button {
        width: 191px;
        height: 42px;
        border: 1px solid var(--dark-gray);
        background-color: var(--dark-gray);

        margin-top: 19px;
        margin-left: 19px;
    
        font-size: 20px;
        color: var(--light-gray);
        text-align: center;
    }
    
    &__edit-form-button:hover {
        cursor: pointer;
    }
}
