<mat-dialog-content class="fbi-wanted">
  <mat-stepper class="fbi-wanted__edit-form" orientation="vertical" [linear]="true" #form>
    <mat-step [stepControl]="editForm">
      <form [formGroup]="editForm">
        <ng-template matStepLabel>Data about person</ng-template>
        <mat-form-field appearance="fill">
          <input matInput class="fbi-wanted__edit-form-input" placeholder="Name" formControlName="title" required>
        </mat-form-field>
        <fw-fbi-wanted-sex-picker formControlName="sex"></fw-fbi-wanted-sex-picker>
        <mat-form-field appearance="fill">
          <input matInput class="fbi-wanted__edit-form-input" placeholder="Weight in kg" formControlName="weight_max" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <input matInput class="fbi-wanted__edit-form-input" placeholder="Height in cm" formControlName="height_max" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <input matInput class="fbi-wanted__edit-form-input" placeholder="Date of birth" formControlName="dates_of_birth_used" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <input matInput class="fbi-wanted__edit-form-input" placeholder="Hair color" formControlName="hair" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <input matInput class="fbi-wanted__edit-form-input" placeholder="Eyes color" formControlName="eyes" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <input matInput class="fbi-wanted__edit-form-input" placeholder="Nationality" formControlName="nationality" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <input matInput class="fbi-wanted__edit-form-input" placeholder="Place of birth" formControlName="place_of_birth" required>
        </mat-form-field>
        <div>
          <button mat-button class="fbi-wanted__edit-form-button" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>New data about person</ng-template>
      <fw-fbi-wanted-edit-form-new-input></fw-fbi-wanted-edit-form-new-input>
      <div>
        <button mat-button class="fbi-wanted__edit-form-button" (click)="form.reset()">Reset</button>
        <button mat-button class="fbi-wanted__edit-form-button" (click)="onEditPerson()">Edit</button>
        <button mat-button class="fbi-wanted__edit-form-button" matStepperPrevious>Back</button>
      </div>
    </mat-step>
  </mat-stepper>

  <button mat-button class="fbi-wanted__edit-form-close-button" (click)="onCloseForm()">[close]</button>
</mat-dialog-content>